<div class="grid pt-20 justify-items-center size-full">
  <h2 class="h2">Careers</h2>
  <app-page-section className="mt-12">
    <app-page-container>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        mollitia ipsum, dolores, rem quaerat delectus, quo magni veritatis
        repudiandae maxime itaque dolor enim eveniet vitae. Voluptatem dolorem
        perferendis excepturi doloremque possimus dolor omnis voluptates aperiam
        vero similique? Maiores, odio! Voluptatem enim numquam praesentium dolor
        rem minus dolore soluta natus! Nihil modi esse aperiam officiis, neque
        corporis nulla at adipisci ratione voluptatum laboriosam maxime quae
        excepturi minus quasi iure. Consectetur eveniet tempora aspernatur vitae
        suscipit dolor voluptates autem, nostrum illo, dolorem voluptatem
        laudantium sunt accusantium eius, culpa quae inventore nihil excepturi
        optio vero numquam. Aliquam, iure repellendus. Modi deleniti, amet
        impedit unde quisquam numquam officia vero pariatur aliquam rerum. Quo
        placeat atque a consectetur enim facilis est ab. Odio quam repellat ab,
        quod vel placeat! Reiciendis nisi velit, molestiae, in pariatur
        similique incidunt officia iste ratione aut sed reprehenderit atque?
        Optio dolor, sunt aut dolorem reprehenderit a! Rerum quia officia
        mollitia, fuga obcaecati repellat odio ipsam ab? Odit molestias cumque
        explicabo saepe atque eius debitis omnis voluptatum recusandae adipisci
        quibusdam fugit minima voluptate dicta blanditiis culpa assumenda
        similique, necessitatibus quo quos expedita libero iure commodi ad.
        Doloremque, libero beatae vel voluptatem voluptatum perferendis
        reiciendis nam deleniti nihil debitis, laudantium fugit autem.
      </p>
    </app-page-container>
  </app-page-section>
</div>
