<div class="grid gap-16">
  <h2 class="h2 text-white">What umbrella brings to your business</h2>
  <div class="grid place-content-center max-w-[45rem] relative">
    <img
      src="assets/umbrella-schema-2.svg"
      alt="umbrella-schema"
      class="w-full scroll_2 grid_area"
    />
    <img
      src="assets/umbrella-schema-1.svg"
      alt="umbrella-schema"
      class="w-full scroll_1 grid_area"
    />
    <a
      href="/"
      class="bg-[#00C8FF] hover:bg-black absolute bottom-[2%] md:bottom-[3%] left-0 right-0
        px-4 py-2 md:px-6 md:py-3 z-10 rounded-full max-w-fit mx-auto hover:text-white"
    >
      More about Times
    </a>
  </div>
</div>
