<div class="grid gap-16 md:gap-20">
  <h2 class="h2">We developed this...</h2>
  <div>
    <img
      src="assets/24-flowjob-times-logo-base-logo-color-g.svg"
      alt="flowjob.times logo"
    />
    <p class="paragraph mt-8 md:mt-16">
      Streamline contractor management effortlessly with Flowjob Times! Our
      intuitive platform enables you to seamlessly organize contractors into
      teams, manage their contracts, and handle vendor relationships with just a
      few clicks. Effortlessly modify, extend, or terminate contracts. Plus,
      gain complete control over timesheets and invoicing, all overseen by your
      chosen approvers. Flowjob Times is the ultimate tool for simplifying your
      contractor operations!
    </p>
  </div>
  <app-cta-button className="md:mt-12 mx-auto">Show more</app-cta-button>
</div>
