<app-page-section [id]="content.cards.solutions.id" className="pt-24 md:mt-16">
  <app-page-container>
    <app-card
      [title]="content.cards.solutions.title"
      [subtitle]="content.cards.solutions.subtitle"
      [description]="content.cards.solutions.description"
      [author]="content.cards.solutions.author"
      variant="h1"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section className="pt-24 md:mt-16 lg:mt-40">
  <app-page-container>
    <app-circles-section
      [title]="content.circles.title"
      [items]="content.circles.items"
    ></app-circles-section>
  </app-page-container>
</app-page-section>

<app-page-section
  [id]="content.cards.delivery_excellence.id"
  className="pt-24 md:mt-16 lg:mt-40"
>
  <app-page-container>
    <app-card
      [title]="content.cards.delivery_excellence.title"
      [subtitle]="content.cards.delivery_excellence.subtitle"
      [description]="content.cards.delivery_excellence.description"
      [author]="content.cards.delivery_excellence.author"
      variant="h2"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section className="pt-24 md:mt-16 lg:mt-40">
  <app-page-container>
    <app-blocks-section
      [title]="content.blocks.title"
      [items]="content.blocks.items"
    ></app-blocks-section
  ></app-page-container>
</app-page-section>

<app-page-section className="pt-24 md:mt-16 lg:mt-40">
  <app-page-container>
    <app-stack-section [content]="content.technologies"></app-stack-section>
  </app-page-container>
</app-page-section>

<app-page-section
  [id]="content.cards.analysis_design.id"
  className="pt-24 md:mt-16 lg:mt-40"
>
  <app-page-container>
    <app-card
      [title]="content.cards.analysis_design.title"
      [subtitle]="content.cards.analysis_design.subtitle"
      [description]="content.cards.analysis_design.description"
      [author]="content.cards.analysis_design.author"
      variant="h2"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section
  [id]="content.cards.implementation.id"
  className="pt-24 md:mt-16 lg:mt-40"
>
  <app-page-container>
    <app-card
      [title]="content.cards.implementation.title"
      [subtitle]="content.cards.implementation.subtitle"
      [description]="content.cards.implementation.description"
      [author]="content.cards.implementation.author"
      variant="h2"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section
  [id]="content.cards.testing_quality_assurance.id"
  className="pt-24 md:mt-16 lg:mt-40"
>
  <app-page-container>
    <app-card
      [title]="content.cards.testing_quality_assurance.title"
      [subtitle]="content.cards.testing_quality_assurance.subtitle"
      [description]="content.cards.testing_quality_assurance.description"
      [author]="content.cards.testing_quality_assurance.author"
      variant="h2"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section
  [id]="content.cards.maintenance.id"
  className="pt-24 md:mt-16 lg:mt-40"
>
  <app-page-container>
    <app-card
      [title]="content.cards.maintenance.title"
      [subtitle]="content.cards.maintenance.subtitle"
      [description]="content.cards.maintenance.description"
      [author]="content.cards.maintenance.author"
      variant="h2"
    ></app-card>
  </app-page-container>
</app-page-section>

<app-page-section
  className="bg-[#022032] md:mt-16 lg:mt-40 pt-24 pb-32 md:pb-40"
>
  <app-page-container>
    <app-sticky-animation-section></app-sticky-animation-section>
  </app-page-container>
</app-page-section>
