<div class="grid pt-20 justify-items-center size-full">
  <h2 class="h2">Contact</h2>
  <app-page-section className="mt-12">
    <app-page-container>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        mollitia ipsum, dolores, rem quaerat delectus, quo magni veritatis
        repudiandae maxime itaque dolor enim eveniet vitae. Voluptatem dolorem
        perferendis excepturi doloremque possimus dolor omnis voluptates aperiam
        vero similique? Maiores, odio! Voluptatem enim numquam praesentium dolor
        rem minus dolore soluta natus! Nihil modi esse aperiam officiis, neque
        corporis nulla at adipisci ratione voluptatum laboriosam maxime quae
        excepturi minus quasi iure. Consectetur eveniet tempora aspernatur vitae
        suscipit dolor voluptates autem, nostrum illo, dolorem voluptatem
        laudantium sunt accusantium eius, culpa quae inventore nihil excepturi
        optio vero numquam. Aliquam, iure repellendus. Modi deleniti, amet
        impedit unde quisquam numquam officia vero pariatur aliquam rerum. Quo
        placeat atque a consectetur enim facilis est ab. Odio quam repellat ab,
        quod vel placeat! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Rerum commodi molestias quibusdam accusamus iure. Architecto
        necessitatibus odio tempora libero a quas molestiae dolor quidem
        expedita earum consectetur pariatur, consequatur praesentium? Distinctio
        quos numquam fugit autem dolore, tenetur dolores ad beatae accusantium,
        minima est perferendis magni qui nesciunt in deleniti. Obcaecati facilis
        quae recusandae aut inventore asperiores sint reiciendis sequi ad, quia
        ex officiis molestiae impedit! Rem at dolor dolore explicabo praesentium
        tenetur dicta repellendus quia sint. Reiciendis sed vitae placeat totam
        sequi omnis excepturi unde eveniet! Officia quibusdam officiis quo.
        Voluptatem voluptatibus veniam porro numquam nulla, nihil autem
        repellendus asperiores.
      </p>
    </app-page-container>
  </app-page-section>
</div>
