<div class="mt-96 pb-60 mb-96">
  <div class="circle_nav">
    <div class="circle_nav_wrapper">
      <ul class="circle_nav_container">
        @for (item of menu; track $index) {
          <li class="circle_nav_item">
            <a
              routerLink=""
              [fragment]="item.fragment"
              [attr.data-section]="item.fragment"
            >
              {{ item.label }}
            </a>
            <!-- <img src="assets/development-arrow-1.svg" alt="arrow" /> -->
          </li>
        }
        <h4 class="circle_nav_item justify-center items-center text-center h4">
          Software<br />Circus
        </h4>
      </ul>
    </div>
  </div>
</div>
