:host {
  display: block;
}

.cta {
  @apply rounded-full
  block
  px-8
  py-4
  transition-all
  duration-300;
}

.primary {
  @apply bg-black
  text-white
  hover:bg-[var(--color-hover)]
  hover:text-black;
}

.secondary {
  @apply bg-[var(--color-gray1)]
  text-black
  hover:bg-black
  hover:text-white;
}
